{{ define "main" -}}
  <div class="intro">
    <h1 style="margin-top: 0;"> Home </h1>
    {{ with .Site.Params.intro_text }}
      <p>{{ . | markdownify }}</p>
    {{ end }}
  </div>
  <hr>
  <div class="posts">
    {{ $frontPageTypes := default (slice "posts") .Site.Params.front_page_content }}
    {{ $pages := where .Site.RegularPages ".Params.displayHomepage" "ne" false }}
    {{ range (.Paginate (where $pages "Type" "in" $frontPageTypes)).Pages }}
      <article class="post">
        {{ partial "post/info.html" . }}
        {{ if or (.Site.Params.noSummary) (.Params.noSummary) }}
          {{ .Content | truncate 500 }}
        {{ else }}
          <!-- controls the size of the default summmary on home page -->
          {{ .Summary | truncate 500 }}
        {{ end }}

        <!-- Wrap read-more-link and seriesname in a container -->
        <div class="post-footer">
            <div class="read-more-link">
              <a href="{{ .RelPermalink }}">Read More…</a>
            </div>
          {{ $Site := .Site }}
          {{ if .Params.series }}
            <p class="seriesname">
              Series: <a href="{{ $Site.BaseURL }}series/{{ .Params.series | urlize }}">{{ .Params.series }}</a>
            </p>
          {{ end }}
        </div>
      </article>
    {{- end }}
  </div>
  {{ partial "pagination.html" . }}
{{- end }}

