{{- /*
Renders a Three.js 3D scene in a container.

@param {string} version The Three.js version to load from unpkg CDN.
@param {string} id A unique identifier for the container element.
@param {string} src The path to the JavaScript module file containing the Three.js scene code.

@reference https://threejs.org/
@source https://jorgemartinez.space/posts/tutorials/running-threejs-in-my-website/

@examples

  {{< threejs version="0.160.0" id="my-scene" src="scene.js" >}}

*/}}
{{ $version := .Get "version" }}
{{ $id := .Get "id" }}
{{ $src := .Page.Resources.GetMatch (.Get "src") }}
{{ if not $src }}
  {{ $src = resources.Get (.Get "src") }}
{{ end }}

<!-- Create a container for rendering the scene -->
<div id="threejs-container-{{ $id }}" class="threejs-content"> 
  <!-- Fallback message for non-JS environments -->
  <noscript style="display: flex; align-items: center; justify-content: center; border: 3px dotted red; padding: 10px; min-height: 60px;">
    <p style=" margin-bottom: 0px"> [Warning] Please enable JavaScript to view the 3D content. </p>
  </noscript>
</div>

<!-- Import Three.js -->
<script type="importmap">
  {
    "imports": {
      "three": "https://unpkg.com/three@{{ $version }}/build/three.module.js",
      "three/addons/": "https://unpkg.com/three@{{ $version }}/examples/jsm/"
    }
  }
</script>

<!-- Load the script -->
<script type="module" src="{{ $src.Permalink }}"></script>